.App {
  background-color: #121012;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20vh;
}

.IconCredits {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: x-small;
}
